.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;

  .title {
    font-weight: 600;
    font-size: 32px;
  }

  .block {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    .blockHeader {
      display: flex;
      flex-direction: column;

      .category {
        font-size: 12px;
        color: gray;
      }
      .categoryName {
        font-weight: 600;
      }
    }
  }
}
