.content {
  position: absolute;
  display: flex;
  overflow: hidden;
  gap: 20px;
  width: 70vw;
  margin-top: 80px;
  justify-content: center;
}

.title {
  margin-top: 80px;
  text-align: left;
}

.quiz {
  width: 40%;
}
