.page {
  text-align: left;
  max-width: 1280px;
}

.section__block {
  display: flex;
  flex-direction: column;
  padding: 48px 0 0;
  max-width: 1280px;
  margin: 0 auto;
}

.page__title {
  color: #00a6a6;
  font-size: 50px;
  margin-bottom: 0;
}

.section__title_2 {
  color: #f26d3d;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 2rem;
}

.section__subsection {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-bottom: 20px;
}

.section__subsection__title {
  color: #8c685b;
  font-weight: 600;
  font-size: 16px;
}

.section__row {
  display: flex;
  gap: 30px;
  align-items: center;
}

.section__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.section__image__icon {
  width: auto;
  height: 20px;
}

.section__list {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
}

.section__list__element {
  display: flex;
  gap: 10px;
  align-items: center;
}

.section__subsection__add {
  font-size: 10px;
}

.section__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author__image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.author__separator {
  color: lightgray;
}

@media (max-width: 768px) {
  .section__row {
    flex-direction: column;
  }
}
