.page {
  margin-top: 1rem;
  align-items: left;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  width: 70%;
}

.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.name {
  font-weight: 600;
  font-size: 24px;
  color: #45768c;
}

.infoBlock {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 2rem;
  justify-content: center;
  min-width: 520px;
  margin-top: 0.5rem;
  .title {
    font-weight: 600;
    font-size: 32px;
  }

  .block {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    .blockHeader {
      display: flex;
      flex-direction: column;

      .category {
        font-size: 12px;
        color: gray;
      }
      .categoryName {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .info {
    text-align: center;
    align-items: center;
    font-size: 14px;
    max-width: 80vw;
  }

  .radioGroup {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .map {
    svg {
      height: 80%;
      width: 80%;
    }
  }
}

@media (max-width: 576px) {
  .map {
    svg {
      height: 70%;
      width: 70%;
    }
  }
}
