/* Footer Part */

.footer__wrapper {
  overflow: hidden;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  padding: 24px 11.6% 24px 11.6%;
  max-width: 984px;
  box-sizing: content-box;
}

.footer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: end;
}

.footer__copyright {
  right: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  color: gray;
}
