/* Footer Part */

.footer__wrapper {
  margin-top: 50px;
  // background-color: #f2f2f2;
  margin-top: auto;

  box-sizing: border-box;
  display: flex;
  align-items: end;
  justify-content: end;
  // min-width: calc(100vw + 30px);
  margin-left: -11.6%;
  padding-left: 11.6%;
  padding-right: 11.6%;
  overflow: hidden;
}

.footer {
  padding: 24px 0;
  display: flex;
  align-items: end;
  max-width: 1280px;
  box-sizing: border-box;
}

.footer__copyright {
  right: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  color: gray;
  align-self: end;
}
