/* Footer Part */

.footer__wrapper {
  overflow: hidden;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  padding: 24px 11.6% 24px 11.6%;
  margin-left: -11.6%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: calc(100vw + 11.6%);
  margin-top: auto;
  // align-self: flex-end;
  flex: none;
}

.footer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: end;
  max-width: 984px;
}

.footer__copyright {
  right: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  color: gray;
}
