/* Footer Part */

.footer__wrapper {
  position: absolute;
  width: 100vw;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  margin-top: auto;
}

.footer {
  margin: 0 auto;
  padding: 24px 5% 24px 5%;
  max-width: 1184px;
  width: 100%;
  display: flex;
  align-items: end;
}

.footer__copyright {
  right: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-left: auto;
  color: gray;
}
